/* FONTS */
/*====================================================================================================================*/
/*====================================================================================================================*/
@font-face {
    font-family: MaisonNeueBook;
    src: url(../assets/fonts/MaisonNeue-Book.ttf);
    /*font-weight:400;*/
}
/*====================================================================================================================*/
/*====================================================================================================================*/


body{max-width:820px; width:100%;font-family:MaisonNeueBook;padding-bottom:50px;}
.noPadding{padding:0px;}
.noMargin{margin:0px;}
/* HEADER */
/*====================================================================================================================*/
/*====================================================================================================================*/

header{margin:20px 0px;}

header #intro, header nav{
	display: inline-block;
}

div#intro{
    width: 66%;
}

header #intro p span:first-of-type{
  border-width: 0 0 3px;
  border-style: dashed;
  border-image: url('../img/icons/underlineRed.svg') 4 fill round;
}

nav{
    width: 33%;
    text-align: right;
}

header a{
	color:#000;
}

header a:hover{
	color:#000;
  text-decoration: none;
}

/* Underline */
/*********************************************************/
.link:hover{
  border-width: 0 0 3px;
  border-style: dashed;
  border-image: url('../img/icons/underlineBlack.svg') 4 fill round;
}

/*====================================================================================================================*/
/*====================================================================================================================*/
/* HEADER */



/* PROJECTS CONTAINER */
/*====================================================================================================================*/
/*====================================================================================================================*/

/* SLIDESHOW CONTAINER*/
/*********************************************************/
section.projectContainer img.projectSliderImage{
	width:100%;
}

.slideshowContainer{
	position:relative;
}

.infoQuestionMarkContainer{
	position:absolute;
	z-index:50;
	top:0;
	right:0;
	padding:25px;
}

.infoQuestionMarkContainer p{
	color:#fff;
	font-size:1.25em;
	margin-bottom:0;
  text-shadow: 0 0 2px #000;
}

.infoQuestionMarkContainer p:hover{
	cursor:pointer;
	text-decoration: none;
}



/* PROJECT DESCRIPTION */
/*********************************************************/
.projectDescriptionContainer{
	display:none;
  /*opacity: 0;*/
	width:548px;
	height:192px;
	background-color:#fff;
	position:absolute;
	z-index:30;
	bottom:0;
  padding:20px;
}

.infoQuestionMarkContainer:hover ~ .projectDescriptionContainer{
	display:block;
}

.projectDescriptionContainer p{
	font-size:0.85em;
}

/* CAROUSEL */
/*********************************************************/
.slideshowContainer{
	/*height:547;*/
}

/*.carousel img{
  width:100%;
  max-width:820px;
}*/

.carousel-control{
  width:50%;
}

.carousel-control.left:hover{
  cursor:url('../img/icons/leftArrow_white.png'), default;
  filter: drop-shadow(5px 5px 5px #000)
}

.carousel-control.right:hover{
  cursor:url('../img/icons/rightArrow_white.png'), default;
}

.carousel-control.left, .carousel-control.right{
  background-image: none;
}

/* PROJECT INFO */
/*********************************************************/
.projectInfoContainer{
	margin-top:13px;
}
.projectInfoContainer .title, .projectInfoContainer .date, .projectInfoContainer .sliderImgNumber{
	display:inline-block;
	vertical-align: top;
}

.projectInfoContainer .currentSlide, .projectInfoContainer .totalSlides{
	text-align:right;
  margin-bottom:0;
}



section.projectContainer{
	margin-bottom:35px;
}
/*====================================================================================================================*/
/*====================================================================================================================*/
/* PROJECTS CONTAINER */









/* RESUME */
/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/

#resume section, #resume section h4{
  font-size:1em;
}

#resume section h4{margin:0;}

#resume p.company, #resume p.school, #resume p.name{
  margin-bottom:0px;
}

#resume section h4 span{
  border-width: 0 0 3px;
  border-style: dashed;
  border-image: url('../img/icons/underlineBlack.svg') 4 fill round;
}

#resume section .row{
  margin-bottom:10px;
}

#resume section .row:last-child{
  margin-bottom:0px;
}

#resume section .row.category{
  margin:30px 0px;
}















/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/
/* RESUME */

